<header class="site-header">
  <div class="header-content">
    <div class="logo">
      <a href="/">Adel</a>
    </div>
    <nav class="main-navigation">
      <ul class="nav-list">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link">Articles</a></li>
        <!-- 
                    <li class="nav-item"><a href="/notes" class="nav-link">Notes</a></li>
          <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>

          -->
        <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
          <i id="theme-icon" class="fas fa-moon"></i>
        </button>
      </ul>
    </nav>
  </div>
</header>